*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(SPoW_8312018_3.jpg);
    background-attachment: fixed;
}
header{
    margin: 3px;
    padding-left: 5px;
    border: double 3px rgb(156, 11, 11);
    background-color: #33000d70;
    color: #ffffff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 120px;
}
.logo_container{
    background-color: #000000;
    border-radius: 10px;
    width: 140px;
}
.navbar li{
    background-color: #000000;
    border-radius: 8px;
    color: #e775e7;
}
.important{
    color: #dc143c;
    text-shadow:1px 2px #280438;
}   
main{
    color: #ffffff;
    text-align: center;

}
.platop{
    max-width: 80%;
    height: 650px;
    margin:0 auto;
    padding: 3px;
    background-color: #5f0d51;
    border-radius: 20px;
    box-shadow: -3px 4px #000000cc; 
    background-image: url(Ramen.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    /*Flexbox*/ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.primero{
    grid-area: primero;
}

.segundo{
    grid-area: segundo;
}

.grilla{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-auto-rows: auto;
    grid: 
    "primero ."
    ". segundo"
    ;
}

.platop_titular{
    display: flex;
    justify-content: center;
    width: 100%;
}

.platop_titular div{
    width:300px;
    height: 45px;
    border:solid 3px black;
    border-radius: 6px;
}

.platop_card{
    border:solid 2px black;
    border-radius: 6px;
    background-color: rgba(255, 127, 80, 0.445);
    margin: 8px;
    padding: 8px;
    width: 420px;
    text-align: justify;
}
.platop_card:hover{
    background-color: rgba(137, 43, 226, 0.445);
}
.ramen{
    width: 650px;
}
a{
    text-decoration: none;
}
.otras_recetas{
    max-width: 99%;
    background-color: rgb(24, 3, 27);
    margin: 30px auto;
}
.card1{
    width: 600px;
    height: 250px;
    background-color: rgb(99, 20, 173);
    border: rgb(56, 9, 56) solid 12px;
    padding: 5px;
    margin: 5px 20px;
    border-radius: 15px;
    color: darkgrey;
}

#pie{
    background-color: #000000;
    padding: 12px;
    margin: 0 auto;
}
@media (max-width: 600px) {
    .card1{
        color: red;
    }
    .logo {
      display: none;
    }
  }